<section class="cardssection event-section">
  <div class="all-cards">
    <img src="/src/img/photo_concert_1.png" alt="photo concert" />
    <div class="rightsectioncards">
      <div class="cardstext">
        <h3>Sa 15.11.2025</h3>
        <div class="petittextcards">
          <a class="artisteslieuxtext suffleletters cursor-scale" href="">
            La Suite Club
          </a>
          <p class="datesregionstext">Vallauris, France</p>
        </div>
      </div>
      <a
        class="boutoncards suffleletters cursor-scale"
        href="https://shotgun.live/fr/artists/teksa"
        >Réserver</a
      >
    </div>
  </div>
  <div class="all-cards">
    <img src="/src/img/photo_concert_2.png" alt="photo concert" />
    <div class="rightsectioncards">
      <div class="cardstext">
        <h3>Sa 22.11.2025</h3>
        <div class="petittextcards">
          <a class="artisteslieuxtext suffleletters cursor-scale" href="">
            Interference
          </a>
          <p class="datesregionstext">Toulouse, France</p>
        </div>
      </div>
      <a
        class="boutoncards suffleletters cursor-scale"
        href="https://shotgun.live/fr/artists/teksa"
        >Réserver</a
      >
    </div>
  </div>
  <div class="all-cards">
    <img src="/src/img/photo_concert_3.png" alt="photo concert" />
    <div class="rightsectioncards">
      <div class="cardstext">
        <h3>Sa 06.12.2025</h3>
        <div class="petittextcards">
          <a class="artisteslieuxtext suffleletters cursor-scale" href="">
            Hangar DS
          </a>
          <p class="datesregionstext">Bordeaux, France</p>
        </div>
      </div>
      <a
        class="boutoncards suffleletters cursor-scale"
        href="https://shotgun.live/fr/artists/teksa"
        >Réserver</a
      >
    </div>
  </div>
  <div class="all-cards">
    <img src="/src/img/photo_concert_1.png" alt="photo concert" />
    <div class="rightsectioncards">
      <div class="cardstext">
        <h3>Sa 09.01.2026</h3>
        <div class="petittextcards">
          <a class="artisteslieuxtext suffleletters cursor-scale" href="">
            La Suite Club
          </a>
          <p class="datesregionstext">Vallauris, France</p>
        </div>
      </div>
      <a
        class="boutoncards suffleletters cursor-scale"
        href="https://shotgun.live/fr/artists/teksa"
        >Réserver</a
      >
    </div>
  </div>
  <div class="all-cards">
    <img src="/src/img/photo_concert_2.png" alt="photo concert" />
    <div class="rightsectioncards">
      <div class="cardstext">
        <h3>Sa 17.03.2026</h3>
        <div class="petittextcards">
          <a class="artisteslieuxtext suffleletters cursor-scale" href="">
            Interference
          </a>
          <p class="datesregionstext">Toulouse, France</p>
        </div>
      </div>
      <a
        class="boutoncards suffleletters cursor-scale"
        href="https://shotgun.live/fr/artists/teksa"
        >Réserver</a
      >
    </div>
  </div>
  <div class="all-cards">
    <img src="/src/img/photo_concert_3.png" alt="photo concert" />
    <div class="rightsectioncards">
      <div class="cardstext">
        <h3>Sa 20.04.2026</h3>
        <div class="petittextcards">
          <a class="artisteslieuxtext suffleletters cursor-scale" href="">
            Hangar DS
          </a>
          <p class="datesregionstext">Bordeaux, France</p>
        </div>
      </div>
      <a
        class="boutoncards suffleletters cursor-scale"
        href="https://shotgun.live/fr/artists/teksa"
        >Réserver</a
      >
    </div>
  </div>
</section>
<script src="js/main.js" type="module"></script>
