<section class="cardssection suggestionsection">
  <div class="suggestioncards BAR08">
    <img src="/src/img/B.A.R_08.1.png" alt="cover de bass addict records 08" />
    <div class="rightsectioncards">
      <div class="cardstext">
        <h3>Bass Addict 08</h3>
        <div class="petittextcards">
          <a class="artisteslieuxtext suffleletters cursor-scale" href="">
            Teksa
          </a>
          <p class="datesregionstext">2018</p>
        </div>
      </div>
      <a class="boutoncards suffleletters cursor-scale" href="">écouter</a>
    </div>
  </div>
  <div class="suggestioncards BAR36">
    <img src="/src/img/B.A.R_36.1.png" alt="cover de bass addict records 36" />
    <div class="rightsectioncards">
      <div class="cardstext">
        <h3>Bass Addict 36</h3>
        <div class="petittextcards">
          <a class="artisteslieuxtext suffleletters cursor-scale" href="">
            Bass Température
          </a>
          <p class="datesregionstext">2021</p>
        </div>
      </div>
      <a class="boutoncards suffleletters cursor-scale" href="">écouter</a>
    </div>
  </div>
  <div class="suggestioncards BAR13">
    <img src="/src/img/B.A.R_13.1.png" alt="cover de bass addict records 13" />
    <div class="rightsectioncards">
      <div class="cardstext">
        <h3>Bass Addict 13</h3>
        <div class="petittextcards">
          <a class="artisteslieuxtext suffleletters cursor-scale" href="">
            Teksa
          </a>
          <p class="datesregionstext">2018</p>
        </div>
      </div>
      <a class="boutoncards suffleletters cursor-scale" href="">écouter</a>
    </div>
  </div>
  <div class="suggestioncards BAR40">
    <img src="/src/img/B.A.R_40.1.png" alt="cover de bass addict records 40" />
    <div class="rightsectioncards">
      <div class="cardstext">
        <h3>Bass Addict 40</h3>
        <div class="petittextcards">
          <a class="artisteslieuxtext suffleletters cursor-scale" href="">
            TeKDog
          </a>
          <p class="datesregionstext">2023</p>
        </div>
      </div>
      <a class="boutoncards suffleletters cursor-scale" href="">écouter</a>
    </div>
  </div>
  <div class="suggestioncards BAR39">
    <img src="/src/img/B.A.R_39.1.png" alt="cover de bass addict records 39" />
    <div class="rightsectioncards">
      <div class="cardstext">
        <h3>Bass Addict 39</h3>
        <div class="petittextcards">
          <a class="artisteslieuxtext suffleletters cursor-scale" href="">
            Bebert Brothers
          </a>
          <p class="datesregionstext">2023</p>
        </div>
      </div>
      <a class="boutoncards suffleletters cursor-scale" href="">écouter</a>
    </div>
  </div>
  <div class="suggestioncards BAR34">
    <img src="/src/img/B.A.R_34.1.png" alt="cover de bass addict records 34" />
    <div class="rightsectioncards">
      <div class="cardstext">
        <h3>Bass Addict 34</h3>
        <div class="petittextcards">
          <a class="artisteslieuxtext suffleletters cursor-scale" href=""
            >Bass Température</a
          >
          <p class="datesregionstext">2021</p>
        </div>
      </div>
      <a class="boutoncards suffleletters cursor-scale" href="">écouter</a>
    </div>
  </div>
</section>
<script src="js/main.js" type="module"></script>
