<section class="cardssection suggestionsection">
  <div class="suggestioncards BAR08">
    <img src="/src/img/B.A.R_08.1.png" alt="cover de bass addict records 08" />
    <div class="rightsectioncards">
      <div class="cardstext">
        <h3>Bass Addict 08</h3>
        <div class="petittextcards">
          <a class="artisteslieuxtext" href=""> Teksa </a>
          <p class="datesregionstext">2018</p>
        </div>
      </div>
      <a class="boutoncards" href="">écouter</a>
    </div>
  </div>
  <div class="suggestioncards BAR08">
    <img src="/src/img/B.A.R_08.1.png" alt="cover de bass addict records 08" />
    <div class="rightsectioncards">
      <div class="cardstext">
        <h3>Bass Addict 08</h3>
        <div class="petittextcards">
          <a class="artisteslieuxtext" href=""> Teksa </a>
          <p class="datesregionstext">2018</p>
        </div>
      </div>
      <a class="boutoncards" href="">écouter</a>
    </div>
  </div>
  <div class="suggestioncards BAR08">
    <img src="/src/img/B.A.R_08.1.png" alt="cover de bass addict records 08" />
    <div class="rightsectioncards">
      <div class="cardstext">
        <h3>Bass Addict 08</h3>
        <div class="petittextcards">
          <a class="artisteslieuxtext" href=""> Teksa </a>
          <p class="datesregionstext">2018</p>
        </div>
      </div>
      <a class="boutoncards" href="">écouter</a>
    </div>
  </div>
  <div class="suggestioncards BAR08">
    <img src="/src/img/B.A.R_08.1.png" alt="cover de bass addict records 08" />
    <div class="rightsectioncards">
      <div class="cardstext">
        <h3>Bass Addict 08</h3>
        <div class="petittextcards">
          <a class="artisteslieuxtext" href=""> Teksa </a>
          <p class="datesregionstext">2018</p>
        </div>
      </div>
      <a class="boutoncards" href="">écouter</a>
    </div>
  </div>
  <div class="suggestioncards BAR08">
    <img src="/src/img/B.A.R_08.1.png" alt="cover de bass addict records 08" />
    <div class="rightsectioncards">
      <div class="cardstext">
        <h3>Bass Addict 08</h3>
        <div class="petittextcards">
          <a class="artisteslieuxtext" href=""> Teksa </a>
          <p class="datesregionstext">2018</p>
        </div>
      </div>
      <a class="boutoncards" href="">écouter</a>
    </div>
  </div>
  <div class="suggestioncards BAR08">
    <img src="/src/img/B.A.R_08.1.png" alt="cover de bass addict records 08" />
    <div class="rightsectioncards">
      <div class="cardstext">
        <h3>Bass Addict 08</h3>
        <div class="petittextcards">
          <a class="artisteslieuxtext" href=""> Teksa </a>
          <p class="datesregionstext">2018</p>
        </div>
      </div>
      <a class="boutoncards" href="">écouter</a>
    </div>
  </div>
</section>
