@font-face {
  font-family: "Impact";
  src: url("/src/font/Impact.woff2");
}
@font-face {
  font-family: "BASQUIAT";
  src: url("/src/font/BASQUIAT.woff2");
}
@font-face {
  font-family: "Spezia VF TEST FONT WIDE SEMI BOLD";
  src: url("/src/font/SpeziaWideTESTFONT-SemiBold.woff2");
}
@font-face {
  font-family: "Spezia VF TEST FONT EXTENDED SEMI BOLD";
  src: url("/src/font/SpeziaExtended_TEST-FONT_SemiBold.woff2");
}
@font-face {
  font-family: "Spezia VF TEST FONT EXTENDED BOLD";
  src: url("/src/font/SpeziaExtended_TEST-FONT_Bold.woff2");
}
@font-face {
  font-family: "Spezia VF TEST FONT MEDIUM";
  src: url("/src/font/Spezia_TEST-FONT_Medium.woff2");
}
@font-face {
  font-family: "Spezia VF TEST FONT CONDENSED REGULAR";
  src: url("/src/font/SpeziaCondensed_TEST-FONT_Regular.woff2");
}
@font-face {
  font-family: "Spezia VF TEST FONT EXTENDED REGULAR";
  src: url("/src/font/SpeziaExtendedTESTFONT-Regular.woff2");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: none;
}

img,
video {
  display: block;
  max-width: 100%;
}

body {
  background-image: url("../img/backgroundtexture.jpg");
  background-size: cover;
  max-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 38px;
  grid-template-areas:
    "nav main main "
    "nav main main "
    "nav main main ";
  max-width: 100vw;
  overflow: hidden;
}

.navigationleft {
  height: 100vh;
  padding: 12px;
  grid-area: nav;
}

.bannerrolling {
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
  height: 58px;
  display: flex;
  align-items: center;
  gap: 18px;
  width: 100%;
  overflow: hidden;
}

.rollingtext {
  display: flex;
  animation: slide-left 20s linear infinite;
  gap: 18px;
}

@keyframes slide-left {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.rollingparagraphe {
  color: #0c0c0c;
  font-family: Impact;
  font-size: 58px;
  font-weight: 400;
  text-transform: uppercase;
}

.rightcoontainer {
  grid-area: main;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  margin-right: 38px;
  margin-top: 38px;
}

.header-artistes-page {
  display: flex;
  gap: 38px;
}

.photo-profil {
  width: 197px;
  height: 197px;
}

.textheader {
  color: #fff;
  font-family: BASQUIAT;
  font-size: 24px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}

.text-header-home-page {
  margin-top: 24px;
  width: 75%;
}

.buttonheader {
  border-radius: 5.662px;
  border: 0.5px solid #fff;
  display: inline-flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-family: "Spezia VF TEST FONT WIDE SEMI BOLD";
  font-size: 10px;
  font-weight: 648;
  text-transform: uppercase;
  margin-top: 20px;
  backdrop-filter: blur(1px);
}

h2 {
  color: #fff;
  font-family: Impact;
  font-size: 24px;
  text-transform: uppercase;
}

.scrolltext {
  color: #fff;
  font-family: "Spezia VF TEST FONT EXTENDED SEMI BOLD";
  font-size: 12px;
  font-weight: 648;
  display: flex;
  align-items: center;
  gap: 8px;
}

.suggestionline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 38px;
}
main {
  margin-bottom: 20px;
}

.all-cards {
  display: flex;
  color: #0c0c0c;
  text-align: right;
  background-color: #fff;
  min-width: 305px;
  height: 155;
  border-radius: 12px;
  padding: 12px;
  justify-content: space-between;
  margin-top: 20px;
}

.cardstext {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

h3 {
  font-family: "Spezia VF TEST FONT EXTENDED BOLD";
  font-size: 16px;
  font-weight: 814;
}

.petittextcards {
  font-size: 16px;
}

.artisteslieuxtext {
  font-weight: 510;
  font-family: "Spezia VF TEST FONT MEDIUM";
}

.datesregionstext {
  font-weight: 327;
  font-family: "Spezia VF TEST FONT CONDENSED REGULAR";
}

.cardssection {
  display: flex;
  gap: 38px;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
}

.boutoncards {
  font-family: "Spezia VF TEST FONT WIDE SEMI BOLD";
  color: #fff;
  font-size: 10px;
  font-weight: 648;
  text-transform: uppercase;
  display: flex;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #0c0c0c;
}

.rightsectioncards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

html {
  cursor: none;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.3s ease;
}

.custom-cursor.scale-up {
  transform: scale(2);
  transition: transform 0.2s ease;
}

.event-section {
  margin-bottom: 38px;
}

.text-artist-link {
  color: #ffffff00;
  font-family: "Spezia VF TEST FONT EXTENDED REGULAR";
  font-size: 12px;
  font-weight: 327;
  transition: color 0.2s ease;
}

.artist-link-line {
  display: flex;
  align-items: center;
  gap: 8px;
}

.artist-link-line:hover .text-artist-link {
  color: #ffffff;
}

.artist-link-section {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 80px;
}

.right-section-header-artist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.burger {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 2000;
  width: 30px;
  height: 22px;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.burger span {
  display: block;
  height: 3px;
  width: 100%;
  background: white;
  margin: 5px 0;
  transition: 0.3s ease;
}
.burger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.burger.active span:nth-child(2) {
  opacity: 0;
}
.burger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}
.radius-cover {
  border-radius: 100%;
}
@media (max-width: 910px) {
  .navigationleft {
    display: none;
  }
  .burger {
    display: block;
  }
  body {
    grid-template-columns: 1fr 1fr;
    gap: 38px;
    grid-template-areas:
      "nav nav nav "
      "main main main"
      "main main main";
    overflow: scroll;
  }
  header {
    margin: 16px 16px 0px 16px;
  }
  .suggestionline {
    padding: 0px 16px;
  }
  .cardssection {
    gap: 16px;
    margin-left: 16px;
  }
  .event-section {
    margin-bottom: 16px;
  }
  .header-artistes-page {
    gap: 16px;
    margin-bottom: 16px;
  }
  .textheader {
    font-size: 22px;
  }
  .rightcoontainer {
    justify-content: start;
  }
}

@media (max-width: 500px) {
  .header-artistes-page {
    flex-direction: column;
  }
  .textheader {
    font-size: 20px;
  }
}

::selection {
  background-color: #e2432e;
}
